<ion-header>

</ion-header>

<ion-content>
    <a style=" position: relative; top: 100px; left: 40px;;" href="https://www.ku.edu.tr/">
        <img width="300px; "  src="../../assets/ku_logo.png"></a>
  <ion-text>
    <h1 style=" position:absolute; color: #000000; font-size: 30px; font-family: Arial, Helvetica, sans-serif; top:250px;  text-align: center;">
        HEART ATTACK 
        MONITORING PATCH 
        (HAMP) 
    </h1>
  </ion-text>

    
  <ion-button style="--background: rgb(200,4,4); position: absolute; top:600px; left: 85px; height: 90px; width: 230px; font-size: 30px; font-family: Arial, Helvetica, sans-serif;" (click)="goForward()">Start</ion-button>


</ion-content>